<div class="container mx-auto px-4 pt-3">
  <%= render 'search', q: @q, url: posts_path %>

  <!-- 掲示板一覧 -->
  <div id="posts_list" class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4" style="margin-bottom: 4rem;">
    <% if @posts.present? %>
      <%= render partial: 'post', collection: @posts %>
    <% else %>
      <div class="col-span-2 text-center text-gray-500">掲示板がありません</div>
    <% end %>
  </div>

  <!-- ページネーション -->
  <div class="flex justify-center pb-8" style="margin-top: 4rem;">
    <%= paginate @posts %>
  </div>
</div>