<div>
  <form id="address-form">
    <input type="text" 
           id="address-input" 
           value="<%= @address %>" 
           placeholder="住所を入力してください">
    <button type="submit" id="search-button">地図を表示</button>
  </form>
</div>

<!-- <div id="map" data-address="<%= j @address %>"></div> -->
<div id="map" style="height: 400px; width: 100%;"></div>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key %>&callback=initMap">
</script>